<!-- <div class="container">
  <div class="row">
    <h1 class="col-12">Game of Thrones</h1>



    <div *ngIf="listBooks.length > 0" class="col-12">
      <div *ngFor="let book of listBooks; let i = 'index'">
        <h2 (click)="loadBookData(book)"> {{book["name"]}}</h2>
        <div *ngFor="let char of book['chars']">
          <p (click)="loadCharData(char)">{{char["name"]}}</p>
        </div>
        <br>
      </div>
    </div>

  </div>
</div> -->



<!-- With sidebar -->

<nav class="d-none d-md-block sidebar" id="sidebar">
  <div class="sidebar-sticky text-center">

    <img src="../../assets/GoT-Logo.png" class="logoPic brand">

   
    <ul class="nav flex-column mb-2">
      <li class="nav-item" *ngFor="let book of _viewManager.listBooks; let i = 'index'">
        <p class="nav-link btn btn-dark book-btn mb-0 " (click)="loadBookData(i)">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-file-text">
            <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
            <polyline points="14 2 14 8 20 8"></polyline>
            <line x1="16" y1="13" x2="8" y2="13"></line>
            <line x1="16" y1="17" x2="8" y2="17"></line>
            <polyline points="10 9 9 9 8 9"></polyline>
          </svg>
          {{book["name"]}}
        </p>
      </li>

    </ul>
   
  </div>
</nav>
